.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: #e5e5f783;
  background-image: radial-gradient(rgba(169, 169, 22, 0.477) 1px, rgba(0, 0, 0, 0.493) 1px);
  background-size: 13px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: orange;
  animation: l2 1s infinite linear;
}
@keyframes l2 {to{transform: rotate(1turn)}}

.fade-out {
  animation: fade-out 0.5s ease-in-out forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

